<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

   <extension
         point="org.eclipse.ui.newWizards">
      <category
            name="CIAA"
            id="PluginCiaa">
      </category>
      <wizard
            name="CIAA-project"
            icon="icons/sample.gif"
            category="PluginCiaa"
            class="pluginciaa.wizards.CiaaWizard"
            id="pluginciaa.wizards.CiaaWizard">
      </wizard>
   </extension>

</plugin>
